# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bcc9d16d576b90c915f10d7679f42359d239237cb87b8453aee2a3f95a53d2c341d5968006e63a8a83738ae03ae42fb8899f002b16e13f0ef2e9c726b193dd94

test:
  secret_key_base: c8fd1e21a8223c405d261a025fd416ce00b25e988f7dd5396c66f879bb1824efb6b3abd6833ccde749025a2535906a4a527b8858f8db4fe4c0f0fd4c7f217cd9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
